body {
  font-family: "Segoe UI", sans-serif;
  background: #f0f8ff;
  padding: 20px;
  
  background-image:url("") ;
  background-image:cover;
 
}

.container {
  max-width: 700px;
  margin: auto;
  background: white;
  border-radius: 12px;
  padding: 25px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  color: #007bff;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input, select, textarea {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea {
  resize: vertical;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

.stars {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.5rem;
  color: gold;
}

.star {
  cursor: pointer;
}

.reviews {
  margin-top: 30px;
}

.review-card {
  background: #f9f9f9;
  border-left: 4px solid #007bff;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
}

.review-card h3 {
  margin: 0 0 5px 0;
}

.review-card .meta {
  font-size: 0.9rem;
  color: gray;
}
.delete-btn {
  margin-top: 10px;
  background: crimson;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
}

.delete-btn:hover {
  background: darkred;
}
.center-button {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.cta-button {
  background-color: #007bff;
  color: white;
  padding: 12px 25px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
  transition: background 0.3s ease;
}

.cta-button:hover {
  background-color: #0056b3;
}

