<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title> Welcome to Smart Car Parking</title>
  <link rel="stylesheet" href="../static/car.css">

</head>
<body>
  <div class="welcome-container">
    <h1>Welcome To Smart Car Parking </h1>
    <p>Maximize efficiency and space utilization with our smart, reliable, and user-friendly parking solution.</p>
    <div class="buttons">
   
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    </div>
  </div>

  <footer>
    <p>&copy; 2025 Smart Parking Solutions. All rights reserved.</p>
  </footer>
</body>
</html>